.block.timeline .timeline-list {
  .timeline-item {
    position: relative;
    display: flex;
    list-style: none;

    &::before {
      flex: 1;
      content: '';
    }

    &.right {
      flex-direction: row-reverse;
    }

    .timeline-separator {
      display: flex;
      flex: 0 0 auto;
      flex-direction: column;
      align-items: center;

      .timeline-dot {
        width: 30px;
        height: 30px;
        flex-shrink: 0;
        stroke-width: 1px;
        stroke: #000;
        border: 1px solid black;
        border-radius: 50%;
        margin: 25px 0;
      }

      .timeline-connector {
        width: 1px;
        flex-grow: 1;
        background-color: black;
      }
    }

    .timeline-content {
      flex: 1;
      margin: 25px 0;

      .timeline-data {
        font-size: 18px;
        font-weight: 300;
        line-height: 24px;
      }

      &.right {
        text-align: right;
        .timeline-data,
        .timeline-time {
          margin-right: 48px;
        }
      }

      &.left {
        .timeline-data,
        .timeline-time {
          margin-left: 48px;
        }
      }

      .timeline-time {
        font-size: 24px;
        font-weight: 700;
        line-height: 30px;
        padding-bottom: 25px;
      }
    }
  }
}

.timeline-block-placeholder {
  padding: 20px;
  background-color: $veryLightGrey;
  color: $grey;
  text-align: center;
}
