.timeline-block .timeline {
  .timeline-item {
    position: relative;
    display: flex;
    list-style: none;

    &::before {
      flex: 1;
      content: '';
    }

    &.right {
      flex-direction: row-reverse;
    }

    .timeline-separator {
      display: flex;
      flex: 0 0 auto;
      flex-direction: column;
      align-items: center;

      .timeline-dot {
        display: flex;
        align-self: baseline;
        padding: 15px;
        border: 1px solid black;
        border-radius: 50%;
        margin: 25px 0;
        background-color: transparent;
      }

      .timeline-connector {
        width: 1px;
        flex-grow: 1;
        background-color: black;
      }
    }

    .timeline-content {
      flex: 1;
      margin: 25px 0;

      &.right {
        text-align: right;
        .timeline-data,
        .timeline-time {
          margin-right: 48px;
        }
      }
      &.left {
        .timeline-data,
        .timeline-time {
          margin-left: 48px;
        }
      }

      .timeline-time {
        margin-bottom: 25px;
        color: #000;
        font-weight: bold;
      }
    }
  }
}
.timeline-block-placeholder {
  padding: 20px;
  background-color: $veryLightGrey;
  color: $grey;
  text-align: center;
}
